* {
  font-family: sans-serif;
}

body {
  align-items: center;
}

.container {
  max-width: 40%;
  box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
  border: 1px solid whitesmoke;
  margin: 50px auto;
}

.title {
  padding-left: 10px;
}

form {
  display: flex;
  padding-right: 0;
  position: relative;
  border-top: 0.6px solid rgb(216, 216, 216);
  border-right: none;
  border-bottom: 0.6px solid rgb(216, 216, 216);
  border-left: none;
}

.items {
  padding: 3%;
  border-bottom: 0.6px solid rgb(216, 216, 216);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.todoInput {
  width: 90%;
  height: 50px;
  font-style: italic;
  border-top: 0.6px solid lightgray;
  border-right: none;
  border-left: none;
}

.description {
  width: 100%;
  height: 50px;
  border-bottom: 0.6px solid lightgray;
  border-top: none;
  border-right: none;
  border-left: none;
}

.edit {
  width: 80%;
  height: 20px;
  border: none;
}

h3 {
  padding-left: 10px;
}

.remove-btn,
.addButton {
  height: 55px;
  width: 55px;
}

.clear {
  display: flex;
  justify-content: center;
  padding: 3%;
  height: 40px;
  padding-top: 10px;
  background-color: lightgrey;
}
